.tableContainer {
  margin: 6rem 0 2rem;

  @media (max-width: 700px) {
    margin-top: 23rem;
    overflow-x: scroll;
  }
}

.table {
  width: 100%;
  border-spacing: 0 0.5rem;

  th {
    color: var(--text);
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
  }

  tr {
    td {
      &:first-child {
        border-radius: 0.25rem 0 0 0.25rem;
      }

      &:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }

  td {
    padding: 1rem 2rem;
    background-color: var(--white);

    &:first-child {
      color: var(--title);
    }
  }
}
